.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.navbar h1{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 20%;
}
.nav-links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.init{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}
body{
    margin: 0;
    padding: 0;
}

.main-section{
    width: 100%;
    height: 100vh;
}
#myvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}