.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}
.navbar h1{
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    width: 20%;
}
.nav-links{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.init{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    width: 100%;
    height: 60px;
}
body{
    margin: 0;
    padding: 0;
}

.main-section{
    width: 100%;
    height: 100vh;
}
#myvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.agency{
    display: flex;
    justify-content:space-around;
    align-items:center;
    width: 100%;
    height: 100vh;
    
}

.agency1{
    width: 20%;
    
    
}
.agency1 figcaption{
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    text-decoration: none;

    
}
.agency1 figcaption :hover{
    text-decoration: underline;
    color: black;
}

.agency1 a{
    text-decoration: none;
    color: black;
    
}
.agency1 img{
    width: 100%;
    height: 150px;
    display: block;
    margin: 0 auto;
    
}
.agency1 img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.description{
    display: flex;
    justify-content:center;
    align-items:center;
    margin: 20px;
    width: 100%;
    height: 70vh;
    border-top: 2px solid black;
    
}
.description div{
    width: 50%;
    height: 100%;
    ;
    
}

.description img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.description p{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    line-height: 1.2;
}
@media (max-width: 768px){
    .description p{
        font-size: 33px;
        margin: 20px;
    }
}
.description input{
    font-size: 12px;
    width: 150px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 20px;

}
.description input:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.projects{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }

.projects div{
    width: 30%;
    height: 100%;
       
}

.projects img{
    width: 100%;
    height: 70vh;

    object-fit: cover;
}

.projects video{
    width: 100%;
    height: 70vh;
    object-fit: cover;
}
.projects a{
    
    color: #252422;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
}
.projects p{
    width: 40%;
    font-weight: normal;
    font-size: 13px;
    margin-top: 5px;
}

.projects h2:hover{
    
    text-decoration:underline;
}

.projects img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.projects video:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.featured{
    width: 100%;
    height:100vh;
    display:flex;
    overflow: auto;
    white-space: nowrap;
}

@media (max-width: 768px){
    .featured{
        flex-direction: column;
        height : auto;
        text-wrap: wrap;
    }

    .featured div{
        width: 100%;
        height: auto;}

.featured div{
    width:33%;
    height: 100%;
    margin: 10px;
    font-size: 20px;
    
       
}

.featured img{
    width:100px;
    height:100px;
}
}