.navbar{
    width: 100%;
    height: 60px;
}
body{
    margin: 0;
    padding: 0;
}

.main-section{
    width: 100%;
    height: 100vh;
}
#myvideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}